<div id="page">
<div class="topic_content">
<article>

  <div style="text-align:right">
    <%= erb :versions %>
  </div>

  <hr size="1" style="margin-top: 10px; margin-bottom: 10px; color: rgba(0, 0, 0, .15);">

  <hgroup>
    <h1><%= @title %></h1>
  </hgroup>
  <%= @intro %>
  <% if @toc.size > 0 %>
    <section id="table-of-contents"><h3>Table of Contents</h3>
      <ul id="toc">
        <% @toc.each do |section, sub_sections| %>
          <li class="toc-item"><a href="#<%= slugify(section) %>"><%= section %></a></li>
            <% if sub_sections.size > 0 %>
              <ul class="sub-toc">
              <% sub_sections.each do |s| %>
                <li class="sub-toc-item"><a href="#<%= slugify(s) %>"><%= s %></a></li>
              <% end %>
              </ul>
            <% end %>
        <% end %>
      </ul>
    </section>
  <% end %>
  <%= @body %>
  <div style="text-align:right">
  Last updated: <%= @last_updated %>
  </div>
  <hr size="1" style="margin-top: 10px; margin-bottom: 10px; color: rgba(0, 0, 0, .15);">

  <%= erb :versions %>

  <hr size="1" style="margin-top: 10px; margin-bottom: 10px; color: rgba(0, 0, 0, .15);">

  <p>
    If this article is incorrect or outdated, or omits critical information, please <a href="https://github.com/fluent/fluentd-docs/issues?state=open">let us know</a>. <a href="http://www.fluentd.org/">Fluentd</a> is a  open source project under <a href="https://cncf.io/">Cloud Native Computing Foundation (CNCF)</a>. All components are available under the Apache 2 License.
  </p>
</article>

</div><!-- /#topic_content -->
</div><!-- /#page -->
