<div id="page">
<div class="topic_content">
<article>
  <%= erb :languages %>
  <hr size="1" style="margin-top: 10px; margin-bottom: 10px; color: rgba(0, 0, 0, .15);">

  <% if @outdated_from %>
    <p style="color:red; font-style:italic; text-align:center;">Caution: This translated article might be outdated!</p>
  <% end %>

  <hgroup>
    <h1><%= @title %></h1>
  </hgroup>
  <%= @intro %>
  <% if @toc.size > 0 %>
    <section id="table-of-contents"><h3>Table of Contents</h3>
      <ul id="toc">
        <% @toc.each do |section, sub_sections| %>
          <li class="toc-item"><a href="#<%= slugify(section) %>"><%= section %></a></li>
            <% if sub_sections.size > 0 %>
              <ul class="sub-toc">
              <% sub_sections.each do |s| %>
                <li class="sub-toc-item"><a href="#<%= slugify(s) %>"><%= s %></a></li>
              <% end %>
              </ul>
            <% end %>
        <% end %>
      </ul>
    </section>
  <% end %>
  <%= @body %>
  <div style="text-align:right">
  Last updated: <%= @last_updated %>
  </div>
  <hr size="1" style="margin-top: 10px; margin-bottom: 10px; color: rgba(0, 0, 0, .15);">

  <%= erb :languages %>

  <hr size="1" style="margin-top: 10px; margin-bottom: 10px; color: rgba(0, 0, 0, .15);">

  <p>
    If this article is incorrect or outdated, or omits critical information, please <a href="https://github.com/fluent/fluentd-docs/issues?state=open">let us know</a>.
  </p>

  <!--
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'fluentd-docs'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  --> 
</article>

</div><!-- /#topic_content -->
</div><!-- /#page -->
