<div id="page">
<div class="topic_content">

<article>
  <hgroup>
    <h1><%= @title %></h1>
  </hgroup>
  <%= @intro %>
  <% if @toc.size > 0 %>
    <section id="table-of-contents"><h3>Table of Contents</h3>
      <ul id="toc">
        <% @toc.each do |section| %>
          <li><a href="#<%= slugify(section) %>"><%= section %></a></li>
        <% end %>
      </ul>
    </section>
  <% end %>
  <%= @body %>
  <hr size="1" style="margin-top: 10px; margin-bottom: 18px; color: rgba(0, 0, 0, .15);">
  <p>
    If this article is incorrect or outdated, or omits critical information, please <a href="http://github.com/fluent/fluentd-docs/">let us know</a>. Fluentd Project is sponsored by <a href="http://treasure-data.com/?source=fl">Treasure Data, Inc </a><iframe src="http://treasure-data.com/icons/square_icon?event=ViewFluentdDoc&prop=VisitFluentd&size=20" scrolling="no" width="22px" height="22px" frameborder="0" marginwidth="0" marginheight="0"></iframe>
  </p>
</article>

</div><!-- /#topic_content -->
</div><!-- /#page -->
