<div id="page">
<div class="topic_content">

<hgroup>
  <h1><%= @title %></h1>
</hgroup>

<div class="padder">
  <h2>Articles</h2>
  <% @articles.each do |name, title, _| %>
    <ul class="articles results">
      <li>
      <% if /^recipe-/.match(name) %>
        <a href="<%= link_to "/#{ name.gsub("recipe-", "recipe/").gsub("-to-", "/") }" %>"><%= title %></a>
      <% else %>
        <a href="<%= link_to "/articles/#{slugify(name)}" %>"><%= title %></a>
      <% end %>
      </li>
    </ul>
  <% end %>
</div>

</div><!-- /#topic_content -->
</div><!-- /#page -->
