<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= ::NewRelic::Agent.browser_timing_header rescue "" %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title><%=h @title %> | Fluentd</title>
  <meta name="keywords" content="<%= find_keywords(params[:article], params[:category]).join(',') %>">
  <meta name="description" content="<%= @desc %>">
  <link rel="canonical" href="http://docs.fluentd.org<%= request.fullpath %>" />
  <link href="http://docs.fluentd.org/favicon.ico" rel="icon" type="image/x-icon">
  <link href="http://docs.fluentd.org/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <%= css :application, :media => 'screen' %>
  <%= js  :app %>
  <script type="text/javascript">
    $("#stack-compare tr").click(function(){
      window.location=$(this).find("a").attr("href");
      return false;
    });
    var activeNav = false;
  </script>
</head>
<body>
  <div id="wrapper">
    <header id="header">
      <h1 class="logo"><a href="http://fluentd.org/">Fluentd</a></h1>
      <div class="top-holder">
        <ul>
          <li><a href="http://fluentd.org/">Top</a></li>
          <li><a href="http://docs.fluentd.org/">Docs</a></li>
          <li><a href="http://fluentd.org/plugin/">Plugins</a></li>
          <li><a href="http://groups.google.com/group/fluentd">Mailing List</a></li>
          <li><a href="https://github.com/fluent/fluentd/issues">Issues</a></li>
          <li><a href="http://github.com/fluent/fluentd">Source</a></li>
          <li></li>
        </ul>
      </div>
    </header>
  </div>

  <div id="sheet">
	<div class="wrapper">
	  <div class="pie-clearfix" id=<% if params.include?("category")%>"<%='category'%>"<% else %>"<%='article'%>"<% end %>>
		<aside id="sidebar">
		  <section class="pie-clearfix pie-clearfix-ie" id="search">
			<div id="search">
			  <form action="/search">
				<p>
				  <input id="q" name="q" placeholder="search" required="required" type="text" style="background-color: white; color: black;" value="<%=h params[:q] || '' %>" />
				</p>
			  </form>
			</div>
		  </section>
		  <select id="quicknav">
			<option value="/">Home</option>
			<% sections.each do |slug, title, categories| %>
			<optgroup label="<%=title %>">
			  <% categories.each do |slug, title, _| %>
			  <option value="/categories/<%= slug %>"><%=h title %></option>
			  <% end %>
			</optgroup>
			<% end %>
		  </select>
		  <ul id="nav">
			<% sections.each do |slug, title, categories| %>
			<li class="category-group">
			  <a class="category" href="#"><%= title %></a>
			  <ul class="tags">
				<% categories.each do |slug, title, _| %>
				<% if (params[:category] == slug) || (find_category(params[:article]) == slug) %>
				<li class="active"><a href="/categories/<%= slug %>"><%=h title %></a></li>
				<% else %>
				<li><a href="/categories/<%= slug %>"><%=h title %></a></li>
				<% end %>
				<% end %>
			  </ul>
			</li>
			<% end %>
		  </ul>
		</aside><!-- /#sidebar -->
		<section id="main">
			  <%= yield %>
		</section><!-- /#main -->
		<script type="text/javascript">
		  // specify active tabindex
		  $("#nav .category-group").each(function(i){
										 if( 0 < $(this).children("ul.tags").children("li.active").length ){
											 activeNav = i;
										 };
									 });
		</script>
	  </div><!-- /#category -->
	</div><!-- /.wrapper -->
  </div><!-- /#sheet -->

  <%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
</body>
</html>
