<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= ::NewRelic::Agent.browser_timing_header rescue "" %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title><%=h @title %> | Fluentd</title>
  <meta name="keywords" content="<%= find_keywords(params[:article], params[:category], @current_lang).join(',') %>">
  <meta name="description" content="<%= @desc %>">
  <meta name="google-site-verification" content="y_tydIQd6TZaoY-qR9geJSDX95h10_w4CXL6NznjgdI" />
  <meta name="msvalidate.01" content="FA8C6A3FF6ADEE726950F238947D5295" />
  <meta property="fb:admins" content="588883490,100000237607356,741094668" />
  <meta property="og:image" content="http://fluentd.org/logos/fluentd.png" />
  <link rel="canonical" href="http://docs.fluentd.org<%= request.fullpath %>" />
  <link href="http://docs.fluentd.org/favicon.ico" rel="icon" type="image/x-icon">
  <link href="http://docs.fluentd.org/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <%= css :application, :media => 'screen' %>
  <%= js  :app %>
  <script type="text/javascript">
  $("#stack-compare tr").click(function(){
    window.location=$(this).find("a").attr("href");
    return false;
  });
  $(document).ready(function(){
    $('a').click(function(){
      var link_url = $(this).attr('href');
      if (/docs.treasuredata.com/.test(link_url)) {
        _gaq.push(['_trackEvent', 'TD Link', 'Click', 'Documentation', link_url, true]);
        return;
      }
      if (/www.treasuredata.com/.test(link_url)) {
        _gaq.push(['_trackEvent', 'TD Link', 'Click', 'Main website', link_url, true]);
        return;
      }
    })
  });
  var activeNav = false;
  </script>
  <script src="//cdn.optimizely.com/js/75134705.js"></script>
</head>
<body>
  <div id="wrapper">
    <header id="header">
      <span class="logo"><a href="http://fluentd.org/">Fluentd</a></span>
      <div style="float: left; border: solid 0px; padding-left: 5px;
        padding-top: 35px;">sponsored by <a
          href="http://www.treasuredata.com/"><img
          src="/images/treasure-logo-red.png" height="10px" /></a></div>
      <div class="top-holder">
        <ul>
          <li><a href="http://fluentd.org/">Top</a></li>
          <li><a href="http://docs.fluentd.org/">Docs</a></li>
          <li><a href="http://fluentd.org/plugin/">Plugins</a></li>
          <li><a href="http://groups.google.com/group/fluentd">Mailing List</a></li>
          <li><a href="https://github.com/fluent/fluentd/issues">Issues</a></li>
          <li><a href="http://github.com/fluent/fluentd">Source</a></li>
          <li></li>
        </ul>
      </div>
    </header>
  </div>
  <div id="sheet">
    <div class="wrapper">
      <div class="pie-clearfix" id=<% if params.include?("category")%>"<%='category'%>"<% else %>"<%='article'%>"<% end %>>
        <aside id="sidebar">
          <section class="pie-clearfix pie-clearfix-ie" id="search">
            <div id="search">
              <form action="http://go.treasuredata.com/s/24122/GpTaUUVzz9NHkf0cIBCNLeAV2yFZ61lj" method="GET">
                <p>
                  <input id="q" name="q" placeholder="search" required="required" type="text" style="background-color: white; color: black;" value="<%=h params[:q] || '' %>" />
                </p>
              </form>
            </div>
          </section>
          <select id="quicknav">
            <option value="/">Home</option>
            <% sections(@current_lang).each do |slug, title, categories| %>
            <optgroup label="<%=title %>">
              <% categories.each do |slug, title, _| %>
              <option value="/<%=prefix %>categories/<%= slug %>"><%=h title %></option>
              <% end %>
            </optgroup>
            <% end %>
          </select>
          <ul id="nav">
            <% sections(@current_lang).each do |slug, title, categories| %>
            <li class="category-group">
              <a class="category" href="#"><%= title %></a>
              <ul class="tags">
                <% categories.each do |slug, title, _| %>
                <% if (params[:category] == slug) || (find_category(params[:article], @current_lang) == slug) %>
                <li class="active"><a href="/<%=prefix %>categories/<%= slug %>"><%=h title %></a></li>
                <% else %>
                <li><a href="/<%=prefix %>categories/<%= slug %>"><%=h title %></a></li>
                <% end %>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>
          <section class="pie-clearfix pie-clearfix-ie">
            <a href='#' target="_blank"><div id="pdf-download">Download as PDF</div></a>
          </section>

          <div id='pdf-modal' class='modal'>
            <div class='modal-head'>Download Documentation as PDF</div>
            <div class='modal-content'>
              <p>Please provide a valid email address and we will send you a copy of the Fluentd Documentation PDF immediately.</p>
              <form action='http://go.treasuredata.com/l/24122/2013-06-14/4ky' method='post'>
                <label class='email' for='email'>Email </label>
                <input type='email' name='email' class='email' required>

                <button action='submit' class='close btn'>Download</button>
              </form>
            </div>
          </div>

        </aside><!-- /#sidebar -->
        <section id="main">
          <%= yield %>
        </section><!-- /#main -->
        <script type="text/javascript">
          // specify active tabindex
          $("#nav .category-group").each(function(i){
            if( 0 < $(this).children("ul.tags").children("li.active").length ){
              activeNav = i;
            };
          });
        </script>
      </div><!-- /#category -->
    </div><!-- /.wrapper -->
    <div id="got-question"
      style="opacity:0; position:fixed;bottom:0;left:0;width:280px;height:50px;background-color:#FFF;border:2px
      #555555 solid;border-radius:8px;">
      <div style="margin:8px auto; width:200px; text-align:center;font-size:14px;">
        <a style="color:#DD0000; text-decoration:underline" href="http://groups.google.com/group/fluentd">Got questions? Ask us
          on the mailing list!</a>
      </div>
    </div>
  </div><!-- /#sheet -->

  <!-- Google Analytics -->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24890265-2']);
  _gaq.push(['_setDomainName', 'fluentd.org']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

  <!-- MixPanel -->
  <script type="text/javascript">
    (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);mixpanel.init("fcc682ea19e6d9f21250083a377de6f4");mixpanel.track("ViewDoc");mixpanel.track("ViewDoc:" + window.location.pathname);
 //         mixpanel.track_links("#got-question", "ClickStickyMailingListLink");
  </script>

  <!-- Google Ad Services -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1009909590;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "5gEjCPL88wIQ1v7H4QM";
    var google_conversion_value = 0;
    /* ]]> */
  </script>
  <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js" />
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009909590/?value=0&amp;label=5gEjCPL88wIQ1v7H4QM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>

  <!-- Pardot -->
  <script type="text/javascript">
  piAId = '25122';
  piCId = '1030';
  (function() {
  function async_load(){
  var s = document.createElement('script'); s.type = 'text/javascript';
  s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';
  var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);
  }
  if(window.attachEvent) { window.attachEvent('onload', async_load); }
  else { window.addEventListener('load', async_load, false); }
  })();
  </script>
  <script>
    $(document).ready(function() {
        $(window).scroll(function() {
          var link_opacity = window.pageYOffset > 260 ? 1.0 : 0;
          $('#got-question').css('opacity', link_opacity); 
        });
    })
  </script>
  <%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
</body>
</html>
