<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= ::NewRelic::Agent.browser_timing_header rescue "" %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title><%=@title%> | Fluentd</title>
  <meta name="keywords" content="<%= find_keywords(@article_name, @category_name).join(',') %>">
  <meta name="description" content="<%= @desc %>">
  <meta name="google-site-verification" content="y_tydIQd6TZaoY-qR9geJSDX95h10_w4CXL6NznjgdI" />
  <meta name="msvalidate.01" content="FA8C6A3FF6ADEE726950F238947D5295" />
  <meta property="fb:admins" content="588883490,100000237607356,741094668" />
  <meta property="og:image" content="http://fluentd.org/logos/fluentd.png" />
  <link rel="canonical" href="http://docs.fluentd.org<%= request.fullpath %>" />
  <link href="/favicon.ico" rel="icon" type="image/x-icon">
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <%= css :application, :media => 'screen' %>
  <%= js  :app %>
  <script type="text/javascript">
  $("#stack-compare tr").click(function(){
    window.location=$(this).find("a").attr("href");
    return false;
  });
  $(document).ready(function(){
    $('a').click(function(){
      var link_url = $(this).attr('href');
      if (/docs.treasuredata.com/.test(link_url)) {
        _gaq.push(['_trackEvent', 'Fluentd to TD Link: Documentation', 'Click', link_url, 0, true]);
        return;
      }
      if (/www.fluentd.org\/treasuredata/.test(link_url)) {
        _gaq.push(['_trackEvent', 'Fluentd to TD Link: Main Website', 'Click', link_url, 0, true]);
        return;
      }
    })
  });
  var activeNav = false;
  </script>
  <script src="//cdn.optimizely.com/js/75134705.js"></script>
  <!-- Treasure Data -->
  <script type="text/javascript">
    !function(t,e){if(void 0===e[t]){e[t]=function(){e[t].clients.push(this),this._init=[Array.prototype.slice.call(arguments)]},e[t].clients=[];for(var r=function(t){return function(){return this["_"+t]=this["_"+t]||[],this["_"+t].push(Array.prototype.slice.call(arguments)),this}},s=["addRecord","set","trackEvent","trackPageview","ready"],n=0;n<s.length;n++){var i=s[n];e[t].prototype[i]=r(i)}var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//s3.amazonaws.com/td-cdn/sdk/td-1.2.0.js";var c=document.getElementsByTagName("script")[0];c.parentNode.insertBefore(a,c)}}("Treasure",this);
  </script>
</head>
<body>
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-T7BJ3X"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T7BJ3X');</script>
  <!-- End Google Tag Manager -->

  <div id="wrapper">
    <header id="header">
      <span class="logo"><a href="http://fluentd.org/">Fluentd</a></span>
      <div style="float: left; border: solid 0px; padding-left: 5px;
        padding-top: 25px;">invented by<a
          href="https://www.treasuredata.com/opensource/"><img
          src="/images/treasure-data-logo-color.svg" height="30px" /></a></div>
      <div class="top-holder">
        <ul>
          <li><a href="http://www.fluentd.org/architecture">What is Fluentd?</a></li>
          <li><a href="http://www.fluentd.org/community">Community</a></li>
          <li><a href="http://www.fluentd.org/plugins">Plugins</a></li>
          <li><a href="http://www.treasuredata.com/fluentd_enterprise">Enterprise</a></li>
          <li><a href="http://www.fluentd.org/download">Download</a></li>
          <li>
            <span class="social-buttons" style="margin-left:25px;">
            <iframe src="http://ghbtns.com/github-btn.html?user=fluent&repo=fluentd&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110px"
            height="20px"></iframe>
            </span>
          </li>
        </ul>
      </div>
    </header>
  </div>
  <div id="sheet">
    <div class="wrapper">
      <div class="pie-clearfix" id="<%= @category_name.nil? ? 'article' : 'category' %>">
        <aside id="sidebar">
          <section class="pie-clearfix pie-clearfix-ie" id="search">
            <div id="search">
              <form>
                <p>
                  <input id="st-search-input" name="q" placeholder="search" required="required" type="text" style="background-color: white; color: black;" value="<%=h @query_string || '' %>" />
                </p>
              </form>
<script type="text/javascript">
var Swiftype = window.Swiftype || {};
  (function() {
    Swiftype.key = 'fxqyKZ6ijDifm8yjw2an';

    /** DO NOT EDIT BELOW THIS LINE **/
    var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
    script.src = "//s.swiftypecdn.com/embed.js";
    var entry = document.getElementsByTagName('script')[0];
    entry.parentNode.insertBefore(script, entry);
  }());
</script>
            </div>
          </section>
          <select id="quicknav">
            <option value="/">Home</option>
            <% sections(@article_version).each do |slug, title, categories| %>
            <optgroup label="<%=title %>">
              <% categories.each do |slug, title, _| %>
              <option value="<%= link_to "/categories/#{slug}" %>"><%=h title %></option>
              <% end %>
            </optgroup>
            <% end %>
          </select>
          <ul id="nav">
            <% sections(@article_version).each do |slug, title, categories| %>
            <li class="category-group">
              <a class="category" href="#"><%= title %></a>
              <ul class="tags">
                <% categories.each do |slug, title, _| %>
                <% if (@category_name == slug) || (find_category(@article_name, @current_lang) == slug) %>
                <li class="active"><a href="<%= link_to "/categories/#{slug}" %>"><%=h title %></a></li>
                <% else %>
                <li><a href="<%= link_to "/categories/#{slug}" %>"><%=h title %></a></li>
                <% end %>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>

          <section class="pie-clearfix pie-clearfix-ie">
            <a href='#' target="_blank"><div class="pdf-download" id="pdf-download">Download Docs as PDF</div></a>
          </section>
          <div id='pdf-modal' class='modal'>
            <div class='modal-head'>Download Documentation in PDF Format</div>
            <div class='modal-content'>
              <script src="//app-ab04.marketo.com/js/forms2/js/forms2.js"></script>
              <form id="mktoForm_1055"></form>
              <script>MktoForms2.loadForm("//app-ab04.marketo.com", "714-XIJ-402", 1055);</script>
            </div>
          </div>
          <section class="pie-clearfix pie-clearfix-ie">
            <a href="//www.fluentd.org/newsletter_signup" target="_blank"><div id="newsletter-signup">Subscribe to Newsletters</div></a>
          </section>

        </aside><!-- /#sidebar -->
        <section id="main">
          <%= yield %>
        </section><!-- /#main -->
        <script type="text/javascript">
          // specify active tabindex
          $("#nav .category-group").each(function(i){
            if( 0 < $(this).children("ul.tags").children("li.active").length ){
              activeNav = i;
            };
          });
        </script>
      </div><!-- /#category -->
    </div><!-- /.wrapper -->
    <div id="got-question"
      style="opacity:0; position:fixed;top:0;left:0;width:280px;height:50px;background-color:#FFFFFF;border:1px solid #FF5F5F">
      <a href="//www.fluentd.org/newsletter_signup">
      <div style="margin:8px auto; width:200px; text-align:center;font-size:14px;">
        <span style="color:#ff5f5f">Interested in the Fluentd Newsletters?</span>
      </a>
      </div>
    </div>
    <div id="anchored-stargazer-count"
      style="opacity:0; position:fixed;top:52px;left:189px;width:110px;height:20px;">
      <iframe src="http://ghbtns.com/github-btn.html?user=fluent&repo=fluentd&type=watch&count=true"
            allowtransparency="true" frameborder="0" scrolling="0" width="110px"
            height="20px"></iframe>
    </div>
  </div><!-- /#sheet -->

  <script>
    $(document).ready(function() {
        $(window).scroll(function() {
          var link_opacity = window.pageYOffset > 700 ? 1.0 : 0;
          $('#got-question').css('opacity', link_opacity);
        });
        $('#got-question').hover(function(){
          $(this).css('background-color', '#FF5F5F');
          $('#got-question span').css('color', '#FFFFFF');
        }, function(){
          $(this).css('background-color', '#FFFFFF');
          $('#got-question span').css('color', '#FF5f5f');
        });

        $(window).scroll(function() {
          var link_opacity = window.pageYOffset > 700 ? 1.0 : 0;
          $('#anchored-stargazer-count').css('opacity', link_opacity);
        });
    })
  </script>
  <script>
    var td_client = new Treasure({
      writeKey: "3867/9da79963a7a77270ae75eceb9f35893c56bd6073",
      database: "fluentd_website"
    });
    $("a").click(function(ev) {
      ev.preventDefault();
      var node = ev.target;

      while (!node.href && node !== document) {
        node = node.parentNode;
      }

      if (!node || $(node).hasClass("search") || node.href === undefined ) return;
      td_client.trackEvent('anchor_clicks_v1_2_0', {
        current_host: window.location.hostname,
        current_path: window.location.pathname,
        clicked_link_host: node.hostname,
        clicked_link_path: node.pathname,
        clicked_link_href: node.href
      }, function() { window.location = node.href }, function(err) { if (err) console.log(err) } );
    })
    td_client.set('$global', 'td_global_id', 'td_global_id');
    td_client.trackPageview('views_docs_v1_2_0', function() {}, function(err) { if (err) console.log(err) });
  </script>
  <%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
</body>
</html>
