<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= ::NewRelic::Agent.browser_timing_header rescue "" %>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <title><%=h @title %> | Fluentd</title>
  <meta name="keywords" content="<%= find_keywords(params[:article], params[:category], @current_lang).join(',') %>">
  <meta name="description" content="<%= @desc %>">
  <meta name="google-site-verification" content="y_tydIQd6TZaoY-qR9geJSDX95h10_w4CXL6NznjgdI" />
  <meta name="msvalidate.01" content="FA8C6A3FF6ADEE726950F238947D5295" />
  <meta property="fb:admins"      content="588883490,100000237607356,741094668" />
  <meta property="og:image"       content="http://fluentd.org/logos/fluentd.png" />
  <link rel="canonical" href="http://docs.fluentd.org<%= request.fullpath %>" />
  <link href="http://docs.fluentd.org/favicon.ico" rel="icon" type="image/x-icon">
  <link href="http://docs.fluentd.org/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <%= css :application, :media => 'screen' %>
  <%= js  :app %>
  <script type="text/javascript">
    $("#stack-compare tr").click(function(){
      window.location=$(this).find("a").attr("href");
      return false;
    });
    var activeNav = false;
  </script>
</head>
<body>
  <div id="wrapper">
    <header id="header">
      <h1 class="logo"><a href="http://fluentd.org/">Fluentd</a></h1>
      <div class="top-holder">
        <ul>
          <li><a href="http://fluentd.org/">Top</a></li>
          <li><a href="http://docs.fluentd.org/">Docs</a></li>
          <li><a href="http://fluentd.org/plugin/">Plugins</a></li>
          <li><a href="http://groups.google.com/group/fluentd">Mailing List</a></li>
          <li><a href="https://github.com/fluent/fluentd/issues">Issues</a></li>
          <li><a href="http://github.com/fluent/fluentd">Source</a></li>
          <li></li>
        </ul>
      </div>
    </header>
  </div>
  <div id="sheet">
    <div class="wrapper">
      <div class="pie-clearfix" id=<% if params.include?("category")%>"<%='category'%>"<% else %>"<%='article'%>"<% end %>>
        <aside id="sidebar">
          <section class="pie-clearfix pie-clearfix-ie" id="search">
            <div id="search">
              <form action="/search">
                <p>
                  <input id="q" name="q" placeholder="search" required="required" type="text" style="background-color: white; color: black;" value="<%=h params[:q] || '' %>" />
                </p>
              </form>
            </div>
          </section>
          <select id="quicknav">
            <option value="/">Home</option>
            <% sections(@current_lang).each do |slug, title, categories| %>
            <optgroup label="<%=title %>">
              <% categories.each do |slug, title, _| %>
              <option value="<%=prefix %>/categories/<%= slug %>"><%=h title %></option>
              <% end %>
            </optgroup>
            <% end %>
          </select>
          <ul id="nav">
            <% sections(@current_lang).each do |slug, title, categories| %>
            <li class="category-group">
              <a class="category" href="#"><%= title %></a>
              <ul class="tags">
                <% categories.each do |slug, title, _| %>
                <% if (params[:category] == slug) || (find_category(params[:article], @current_lang) == slug) %>
                <li class="active"><a href="<%=prefix %>/categories/<%= slug %>"><%=h title %></a></li>
                <% else %>
                <li><a href="<%=prefix %>/categories/<%= slug %>"><%=h title %></a></li>
                <% end %>
                <% end %>
              </ul>
            </li>
            <% end %>
          </ul>
        </aside><!-- /#sidebar -->
        <section id="main">
          <%= yield %>
        </section><!-- /#main -->
        <script type="text/javascript">
          // specify active tabindex
          $("#nav .category-group").each(function(i){
            if( 0 < $(this).children("ul.tags").children("li.active").length ){
              activeNav = i;
            };
          });
        </script>
      </div><!-- /#category -->
    </div><!-- /.wrapper -->
  </div><!-- /#sheet -->

  <!-- start google analytics -->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24890265-5']);
  _gaq.push(['_setDomainName', 'fluentd.org']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>

  <!-- start mixpanel -->
  <script type="text/javascript">
    (function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);mixpanel.init("fcc682ea19e6d9f21250083a377de6f4");mixpanel.track("ViewDoc");mixpanel.track("ViewDoc:" + window.location.pathname);
  </script>

  <!-- google code for fluentd -->
  <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1009909590;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "5gEjCPL88wIQ1v7H4QM";
    var google_conversion_value = 0;
    /* ]]> */
  </script>
  <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js" />
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/1009909590/?value=0&amp;label=5gEjCPL88wIQ1v7H4QM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>

  <!-- begin olark code -->
  <script data-cfasync="false" type='text/javascript'>/*{literal}<![CDATA[*/
  window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){f[z]=function(){(a.s=a.s||[]).push(arguments)};var a=f[z]._={},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={0:+new Date};a.P=function(u){a.p[u]=new Date-a.p[0]};function s(){a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{b.contentWindow[g].open()}catch(w){c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{var t=b.contentWindow[g];t.write(p());t.close()}catch(x){b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
  /* custom configuration goes here (www.olark.com/documentation) */
  olark.identify('7580-888-10-8664');/*]]>{/literal}*/
  </script>
  <noscript><a href="https://www.olark.com/site/7580-888-10-8664/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->

  <%= ::NewRelic::Agent.browser_timing_footer rescue "" %>
</body>
</html>
